openapi: 3.1.0
info:
  title: Sunlit Solar API
  description: |
    Unofficial OpenAPI specification for the Sunlit Solar API.

    This API is used to retrieve data from Sunlit Solar installations including
    solar panels, inverters, batteries, and smart meters.

    **Note:** This is a reverse-engineered specification based on observed API behavior.
    The actual API is proprietary to Sunlit Solar GmbH.

    **Backend host:** The SunEnergyXT app (v1.8.1) now calls `api.sunenergyxt.com`.
    Requests authenticate with `Authorization: bearer <token>` (lowercase scheme)
    and the app additionally sends `appVersion`, `language`, `phoneModel`, and
    `osVersion` headers; these are not required for the documented data endpoints.
  version: 1.4.0
  contact:
    name: Home Assistant Integration
    url: https://github.com/cedricziel/ha-sunlit

servers:
  - url: https://api.sunenergyxt.com/rest
    description: >-
      Production server. Current backend host used by the SunEnergyXT mobile
      app (observed in app v1.8.1, May 2026). Shares the same /rest API surface
      as the legacy host below.
  - url: https://api.sunlitsolar.de/rest
    description: >-
      Legacy production host still referenced by older integration builds
      (custom_components/sunlit/const.py::API_BASE_URL).

security:
  - bearerAuth: []

tags:
  - name: Authentication
    description: Login and account authentication
  - name: Family
    description: Family/Space management operations
  - name: Device
    description: Device information and statistics
  - name: Space
    description: Space-level operations (SOC, strategies)
  - name: Statistics
    description: Energy, power, and earnings statistics
  - name: Strategy
    description: Battery charging strategies and local mode configuration
  - name: User
    description: User account information
  - name: System
    description: Backend health and app lifecycle endpoints
  - name: Notifications
    description: Notification and message inbox operations

paths:
  /family/list:
    get:
      tags:
        - Family
      summary: List all families/spaces
      description: Retrieve a list of all families/spaces associated with the account
      operationId: getFamilyList
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FamilyListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /user/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate with email and password to receive access token
      operationId: userLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security: [] # No auth required for login endpoint

  /v1.2/device/list:
    post:
      tags:
        - Device
      summary: List devices in a family
      description: Retrieve all devices belonging to a specific family
      operationId: getDeviceList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - familyId
                - deviceType
              properties:
                familyId:
                  type: integer
                  description: The family ID
                  example: 12345
                deviceType:
                  type: string
                  description: >-
                    Device type filter. Use "ALL" for all types (the API
                    rejects an empty string with code 400000). Specific types
                    include ENERGY_STORAGE_BATTERY, SHELLY_3EM_METER, etc.
                  example: "ALL"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.1/statistics/static/device:
    post:
      tags:
        - Device
      summary: Get device statistics
      description: Retrieve detailed statistics for a specific device
      operationId: getDeviceStatistics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceId
              properties:
                deviceId:
                  type: integer
                  description: The device ID
                  example: 67890
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceStatisticsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.3/statistics/instantPower/batteryIO:
    post:
      tags:
        - Device
      summary: Get battery I/O power statistics
      description: Retrieve input/output power statistics for a battery device
      operationId: getBatteryIOPower
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceId
                - year
                - month
                - day
              properties:
                deviceId:
                  type: integer
                  description: The battery device ID
                  example: 67890
                year:
                  type: string
                  description: Year (YYYY format)
                  example: "2024"
                month:
                  type: string
                  description: Month (MM format)
                  example: "01"
                day:
                  type: string
                  description: Day (DD format)
                  example: "15"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatteryIOPowerResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.1/space/soc:
    post:
      tags:
        - Space
      summary: Get space State of Charge
      description: Retrieve State of Charge information for a space
      operationId: getSpaceSOC
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 12345
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceSOCResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.1/space/currentStrategy:
    post:
      tags:
        - Space
      summary: Get current charging strategy
      description: Retrieve the current battery charging strategy for a space
      operationId: getCurrentStrategy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - familyId
              properties:
                familyId:
                  type: integer
                  description: The family ID
                  example: 12345
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentStrategyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.5/space/index:
    post:
      tags:
        - Space
      summary: Get comprehensive space dashboard data
      description: Retrieve all space data in a single call including devices, power, and status
      operationId: getSpaceIndex
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 12345
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceIndexResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.1/space/strategyHistory:
    post:
      tags:
        - Space
      summary: Get strategy change history
      description: Retrieve the history of battery charging strategy changes
      operationId: getStrategyHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - familyId
              properties:
                familyId:
                  type: integer
                  description: The family ID
                  example: 12345
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyHistoryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.6/chargingBox/checkSpaceStrategy:
    post:
      tags:
        - Space
      summary: Check charging box strategy
      description: |
        Retrieve charging box and inverter strategy configuration for a space.
        This includes EV3600 bi-directional inverter settings, tariff strategies,
        and AC coupling configuration.
      operationId: checkChargingBoxStrategy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargingBoxStrategyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.6/space/local/infoV2:
    post:
      tags:
        - Space
      summary: Get local space information
      description: |
        Retrieve comprehensive local information about a space including DTU,
        inverters, battery, and smart meter device details with local network
        configuration such as IP addresses and WiFi settings.
      operationId: getSpaceLocalInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceLocalInfoResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.7/device/dtu/checkFwVersion:
    post:
      tags:
        - Device
      summary: Check DTU firmware version
      description: |
        Check if a DTU firmware update is available by comparing the current
        firmware version with the latest available version.
      operationId: checkDtuFirmwareVersion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - curFirmwareVersion
              properties:
                curFirmwareVersion:
                  type: string
                  description: Current firmware version of the DTU
                  example: "Sunlit_1.0.1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DtuFirmwareCheckResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v2/remoteControl/power:
    post:
      tags:
        - Device
      summary: Set device power limit
      description: |
        Remotely control the maximum output power of a device such as an inverter.
        This allows dynamic power management and grid compliance.
      operationId: setDevicePowerLimit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - maxOutputPower
                - deviceId
              properties:
                maxOutputPower:
                  type: integer
                  description: Maximum output power limit in watts
                  example: 800
                deviceId:
                  type: integer
                  description: The device ID to control
                  example: 76493
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoteControlPowerResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /device/remoteControlRecord/latest:
    post:
      tags:
        - Device
      summary: Get latest remote control record
      description: |
        Retrieve the latest remote control command status for a device.
        This endpoint is used to check the status of power limit changes,
        which can be "InProgress" while the command is being processed
        or "Success" when completed.
      operationId: getLatestRemoteControlRecord
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceId
              properties:
                deviceId:
                  type: integer
                  description: The device ID to query
                  example: 76493
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoteControlRecordResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.6/local/mode/deye/localSmart/updateFlag:
    post:
      tags:
        - Space
      summary: Update local smart mode flag
      description: |
        Enable or disable local smart mode for Deye inverters in a space.
        This controls whether the inverters operate in local smart strategy mode
        for optimized energy management.
      operationId: updateLocalSmartModeFlag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enable
                - spaceId
                - inverterSnList
              properties:
                enable:
                  type: boolean
                  description: Whether to enable local smart mode
                  example: false
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 34038
                inverterSnList:
                  type: array
                  items:
                    type: string
                  description: List of inverter serial numbers to apply the setting to
                  example: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocalSmartModeUpdateResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.6/tariff/index:
    post:
      tags:
        - Space
      summary: Get tariff information
      description: |
        Retrieve tariff and electricity pricing information for a space,
        including Rabot Charge integration status and current hourly pricing data
        with price tags (CHEAP, EXPENSIVE, etc.).
      operationId: getTariffIndex
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TariffIndexResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.6/rabot/day/price:
    post:
      tags:
        - Space
      summary: Get daily electricity prices
      description: |
        Retrieve hourly electricity prices for a specific day from Rabot Charge.
        Returns 24 hours of pricing data with price tags indicating whether
        each hour is CHEAP or EXPENSIVE relative to the daily average.
      operationId: getRabotDayPrice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - showTax
                - spaceId
                - day
                - showStrategy
              properties:
                showTax:
                  type: boolean
                  description: Whether to include tax in the prices
                  example: true
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 34038
                day:
                  type: string
                  format: date
                  description: The date to get prices for (YYYY-MM-DD format)
                  example: "2025-09-14"
                showStrategy:
                  type: boolean
                  description: Whether to show strategy information
                  example: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RabotDayPriceResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.6/rabot/state:
    post:
      tags:
        - Space
      summary: Get Rabot Charge integration state
      description: |
        Check the current state of Rabot Charge integration for a space,
        including onboarding status, authorization, contract status,
        and whether contract pricing is available.
      operationId: getRabotState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RabotStateResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.6/tariffStrategy/add:
    post:
      tags:
        - Space
      summary: Add or update tariff strategy
      description: |
        Configure tariff-based battery charging strategies for low and high electricity prices.
        Allows setting different behaviors for when electricity prices are cheap vs expensive,
        including energy storage mode, smart strategy settings, and SOC limits.
      operationId: addTariffStrategy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - lowPriceStrategy
                - highPriceStrategy
                - enableSwitchNotice
                - familyId
              properties:
                lowPriceStrategy:
                  $ref: "#/components/schemas/LowPriceStrategy"
                highPriceStrategy:
                  $ref: "#/components/schemas/HighPriceStrategy"
                enableSwitchNotice:
                  type: boolean
                  description: Whether to enable notifications when strategy switches
                  example: true
                familyId:
                  type: integer
                  description: The family/space ID
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TariffStrategyAddResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /device/{deviceId}:
    get:
      tags:
        - Device
      summary: Get device details
      description: |
        Retrieve detailed information about a specific device, including
        firmware/hardware versions, BMS/SBMS SOC limits, local-mode flags, and
        the device's local network address (ip/port). Returns the standard
        `{code, message, content}` envelope.
      operationId: getDeviceDetails
      parameters:
        - name: deviceId
          in: path
          required: true
          description: The device ID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceDetailsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Device not found

  /user/info:
    post:
      tags:
        - User
      summary: Get current user info
      description: Retrieve the authenticated user's account profile.
      operationId: getUserInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Empty object
              example: {}
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfoResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.1/space/statistics/static:
    post:
      tags:
        - Statistics
      summary: Get lifetime space statistics
      description: Retrieve cumulative yield and earnings for a space.
      operationId: getSpaceStatisticsStatic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceStatisticsStaticResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.1/space/statistics/dynamic/power:
    post:
      tags:
        - Statistics
      summary: Get intraday space power curve
      description: |
        Retrieve the power generation curve for a space on a given day. Returns
        a list of timestamped power samples (roughly every 2 minutes).
      operationId: getSpaceStatisticsDynamicPower
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
                - year
                - month
                - day
              properties:
                spaceId:
                  type: integer
                  example: 34038
                year:
                  type: integer
                  example: 2026
                month:
                  type: integer
                  description: Month (1-12, not zero-padded)
                  example: 5
                day:
                  type: integer
                  example: 24
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceStatisticsDynamicPowerResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.1/space/statistics/dynamic/earning:
    post:
      tags:
        - Statistics
      summary: Get space generation & earnings (day/month/year granularity)
      description: |
        Retrieve power generation and earnings for a space. The granularity is
        selected by which of `year`/`month` are supplied, and each bucket's
        `key` changes meaning accordingly:

        | Request body | bucket `key` | period covered | `total*` |
        |---|---|---|---|
        | `{spaceId, year, month}` | day of month (1-31) | that month | month |
        | `{spaceId, year}` | month of year (1-12) | that year | year |
        | `{spaceId}` | year (e.g. 2024) | all time | lifetime |

        `chargingEnergyList` mirrors `powerEarningsList` with the same keys.
      operationId: getSpaceStatisticsDynamicEarning
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  example: 34038
                year:
                  type: integer
                  description: >-
                    Optional. Omit for all-time (per-year buckets); supply alone
                    for per-month buckets within the year.
                  example: 2026
                month:
                  type: integer
                  description: >-
                    Optional (requires `year`). Month 1-12, not zero-padded;
                    supplying it yields per-day buckets within the month.
                  example: 5
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceStatisticsDynamicEarningResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.1/space/statistics/dynamic/energy:
    post:
      tags:
        - Statistics
      summary: Get space energy distribution & self-consumption
      description: |
        Retrieve an energy distribution for a space — generation (`yield`),
        consumption, PV-sourced energy, and self-use / self-sufficiency rates.
        Like `dynamic/earning`, the granularity follows the supplied
        `year`/`month` (per-day within a month, per-month within a year, or
        per-year all-time); the captured client only requested the monthly form.
      operationId: getSpaceStatisticsDynamicEnergy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  example: 34038
                year:
                  type: integer
                  description: Optional; see dynamic/earning for granularity rules.
                  example: 2026
                month:
                  type: integer
                  description: Optional (requires `year`). Month 1-12, not zero-padded.
                  example: 5
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceStatisticsDynamicEnergyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /statistics/instantPower:
    post:
      tags:
        - Statistics
      summary: Get intraday device power curve
      description: |
        Retrieve the instantaneous power curve for a single device on a given
        day. Distinct from `/v1.3/statistics/instantPower/batteryIO`: this
        endpoint is unversioned, takes a `deviceId`, and returns the standard
        envelope with a `powerList` of `{key, power}` samples.
      operationId: getInstantPower
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceId
                - year
                - month
                - day
              properties:
                deviceId:
                  type: integer
                  example: 41714
                year:
                  type: string
                  description: Year (YYYY)
                  example: "2026"
                month:
                  type: string
                  description: Month (MM, zero-padded)
                  example: "05"
                day:
                  type: string
                  description: Day (DD, zero-padded)
                  example: "24"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstantPowerResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.8/strategy/my/list:
    post:
      tags:
        - Strategy
      summary: List configured strategies
      description: |
        Retrieve the user-configured charging strategies for a space. Replaces
        the older `/v1.1/space/currentStrategy` + `/v1.1/space/strategyHistory`
        pair in newer app versions.
      operationId: getStrategyMyList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyMyListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.7/strategy/more:
    post:
      tags:
        - Strategy
      summary: List available strategy types (catalog)
      description: |
        Retrieve the catalog of selectable strategy types for a space, each with
        its device requirements per hardware setup (e.g. BK_SERIES vs
        AIO_500_SERIES) and whether it is currently enabled/available.
      operationId: getStrategyMore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyMoreResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.7/strategy/recommend:
    post:
      tags:
        - Strategy
      summary: Get recommended strategies
      description: |
        Retrieve recommended strategies for a space. Empty when there are no
        recommendations; the recommendation item shape has not yet been observed
        populated.
      operationId: getStrategyRecommend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyRecommendResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.7/strategy/device/status:
    post:
      tags:
        - Strategy
      summary: Get device strategy/local-mode status
      description: |
        Retrieve the local-mode and UPS-mode status for the strategy-capable
        device(s) in a space.
      operationId: getStrategyDeviceStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyDeviceStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.7/battery/updateLocalModeConfig:
    post:
      tags:
        - Strategy
      summary: Enable/disable battery local mode
      description: |
        Toggle local mode for a battery. Local mode lets the battery operate
        from on-device logic (see `/device/{deviceId}` ip/port) rather than
        cloud strategy. Returns `content: null` on success.
      operationId: updateBatteryLocalModeConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enable
                - deviceSn
              properties:
                enable:
                  type: boolean
                  description: Whether to enable local mode
                  example: false
                deviceSn:
                  type: string
                  description: Battery serial number
                  example: "dcbdccbffe3d"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatteryLocalModeUpdateResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.5/message/summary:
    post:
      tags:
        - System
      summary: Get notification/message counts
      description: Retrieve unread message, fault, and notification counts.
      operationId: getMessageSummary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Empty object
              example: {}
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageSummaryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /health/status:
    get:
      tags:
        - System
      summary: Backend health status
      description: |
        Diagnostic backend health probe. Reports the status of dependent
        services (RabbitMQ, Redis, disk). Not account-scoped data.
      operationId: getHealthStatus
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.5/notification/list:
    post:
      tags:
        - Notifications
      summary: List notifications
      description: Retrieve the paginated notification feed for the account.
      operationId: getNotificationList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PageRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.5/notification/read:
    post:
      tags:
        - Notifications
      summary: Mark a notification read
      operationId: markNotificationRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: integer
                  description: Notification ID
                  example: 6340630
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BooleanResultResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.5/notification/delete:
    post:
      tags:
        - Notifications
      summary: Delete a notification
      operationId: deleteNotification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: integer
                  description: Notification ID
                  example: 6340630
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BooleanResultResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.6/notification/batchRead:
    post:
      tags:
        - Notifications
      summary: Mark multiple notifications read
      operationId: batchReadNotifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                  description: Notification IDs to mark read
                  example: [5851069, 5849035]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BooleanResultResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /message/list:
    post:
      tags:
        - Notifications
      summary: List messages
      description: Retrieve the paginated message inbox (distinct from notifications).
      operationId: getMessageList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PageRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.6/message/readAll:
    post:
      tags:
        - Notifications
      summary: Mark all messages read
      operationId: markAllMessagesRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Empty object
              example: {}
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BooleanResultResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /util/warning/check:
    post:
      tags:
        - System
      summary: Check a warning condition
      description: |
        Probe whether a named warning condition is currently active for a space.
        Returns a boolean. The `type` enumerates warning conditions; only
        `WARNING_STRATEGY_INVALID` has been observed so far.
      operationId: checkWarning
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - spaceId
              properties:
                type:
                  type: string
                  description: Warning condition identifier
                  example: "WARNING_STRATEGY_INVALID"
                spaceId:
                  type: integer
                  example: 34038
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BooleanResultResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1.4/device/add/preCheck:
    post:
      tags:
        - Device
      summary: Pre-check adding a device
      description: |
        Onboarding gate — checks whether a device of the given type can be added
        to a space. Returns a boolean.
      operationId: deviceAddPreCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
                - deviceType
              properties:
                spaceId:
                  type: integer
                  example: 34038
                deviceType:
                  type: string
                  description: Device type to add (e.g. EN_PLUS_EVSE)
                  example: "EN_PLUS_EVSE"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BooleanResultResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication

  responses:
    Unauthorized:
      description: Unauthorized - Invalid or missing authentication token
      content:
        application/json:
          schema:
            type: object
            properties:
              result:
                type: integer
                example: 0
              error:
                type: string
                example: "Unauthorized"

  schemas:
    ApiResponse:
      type: object
      description: Common API response wrapper
      properties:
        code:
          type: integer
          description: Response code (0 = success)
          example: 0
        responseTime:
          type: integer
          description: Server response timestamp in milliseconds
          example: 1757165913195
        message:
          type: object
          description: Localized messages
          additionalProperties:
            type: string
          example:
            DE: "Ok"

    FamilyListResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/Family"

    DeviceListResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/PaginatedDeviceList"

    PaginatedDeviceList:
      type: object
      description: Paginated device list with metadata
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/Device"
          description: List of devices
        pageable:
          $ref: "#/components/schemas/Pageable"
        totalPages:
          type: integer
          description: Total number of pages
          example: 1
        totalElements:
          type: integer
          description: Total number of devices
          example: 3
        last:
          type: boolean
          description: Whether this is the last page
          example: true
        number:
          type: integer
          description: Current page number
          example: 0
        sort:
          $ref: "#/components/schemas/Sort"
        numberOfElements:
          type: integer
          description: Number of elements in current page
          example: 3
        first:
          type: boolean
          description: Whether this is the first page
          example: true
        size:
          type: integer
          description: Page size
          example: 20
        empty:
          type: boolean
          description: Whether the result is empty
          example: false

    Pageable:
      type: object
      description: Pagination information
      properties:
        sort:
          $ref: "#/components/schemas/Sort"
        pageSize:
          type: integer
          description: Size of the page
          example: 20
        pageNumber:
          type: integer
          description: Current page number
          example: 0
        offset:
          type: integer
          description: Offset from start
          example: 0
        unpaged:
          type: boolean
          description: Whether pagination is disabled
          example: false
        paged:
          type: boolean
          description: Whether pagination is enabled
          example: true

    Sort:
      type: object
      description: Sort information
      properties:
        unsorted:
          type: boolean
          description: Whether results are unsorted
          example: false
        sorted:
          type: boolean
          description: Whether results are sorted
          example: true
        empty:
          type: boolean
          description: Whether sort is empty
          example: false

    DeviceStatisticsResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/BatteryStatistics"

    BatteryIOPowerResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              type: object
              properties:
                powerList:
                  type: array
                  description: >-
                    Intraday battery input/output power samples (~2-minute
                    cadence; ~400 entries over a full day). Verified live
                    2026-05 against api.sunenergyxt.com.
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: Sample time (HH:MM)
                        example: "00:01"
                      batteryInputPower:
                        type: number
                        description: Battery input (charging) power in watts
                        example: 0.0
                      batteryOutputPower:
                        type: number
                        description: Battery output (discharging) power in watts
                        example: 32.0

    SpaceSOCResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/SpaceSOCContent"

    SpaceSOCContent:
      type: object
      description: Space State of Charge (SOC) limits and configuration
      properties:
        hwSupportOnePercentage:
          type: boolean
          description: Whether hardware supports 1% SOC granularity
          example: true
        hwSbmsLimitedDiscSocMin:
          type: number
          description: Hardware SBMS limited discharge minimum SOC
          example: 1.0
        hwSbmsLimitedChgSocMax:
          type: number
          description: Hardware SBMS limited charge maximum SOC
          example: 90.0
        batteryBmsDiscSocMin:
          type: integer
          description: Battery BMS discharge minimum SOC
          example: 1
        batteryBmsChgSocMax:
          type: integer
          description: Battery BMS charge maximum SOC
          example: 90
        strategySocMax:
          type: ["integer", "null"]
          description: Strategy maximum SOC limit
          example: null
        strategySocMin:
          type: ["integer", "null"]
          description: Strategy minimum SOC limit
          example: null
        haDodMinSoc:
          type: ["integer", "null"]
          description: Home Assistant depth of discharge minimum SOC
          example: null
        evDodMinSoc:
          type: ["integer", "null"]
          description: EV depth of discharge minimum SOC
          example: null
        chgDodMaxSoc:
          type: ["integer", "null"]
          description: Charging depth of discharge maximum SOC
          example: null

    CurrentStrategyResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/CurrentStrategyContent"

    CurrentStrategyContent:
      type: object
      description: Current battery charging strategy and system status
      properties:
        strategy:
          type: ["string", "null"]
          description: Current strategy name
          example: null
        smartStrategyMode:
          type: string
          description: Smart strategy mode (balanced, full_speed, etc.)
          example: "balanced"
        smartStrategyFullMode:
          type: string
          description: Smart strategy full charge mode
          example: "throttle"
        batteryFull:
          type: boolean
          description: Whether the battery is full
          example: false
        latestModifiedStatus:
          type: string
          description: Status of the latest modification
          enum: ["Success", "InProgress", "Failed"]
          example: "Success"
        deviceStatus:
          type: string
          description: Overall device status
          example: "Online"
        ratedPower:
          type: number
          description: Rated power in watts
          example: 800.0
        maxOutPutPower:
          type: ["number", "null"]
          description: Maximum output power in watts
          example: null
        maxAllowedPower:
          type: number
          description: Maximum allowed power in watts
          example: 800.0
        maxAllowedPowerSum:
          type: number
          description: Sum of maximum allowed power across all devices
          example: 800.0
        batteryStatus:
          type: string
          description: Battery operation status
          example: "Success"
        batteryDeviceStatus:
          type: string
          description: Battery device connection status
          example: "Online"
        inverterDeviceStatus:
          type: string
          description: Inverter device connection status
          example: "Online"
        smartStrategyInverterStatus:
          type: string
          description: Smart strategy inverter status
          example: "Online"
        meterDeviceStatus:
          type: string
          description: Meter device connection status
          example: "Online"
        enableStrategyModify:
          type: boolean
          description: Whether strategy modification is enabled
          example: true
        socMax:
          type: integer
          description: Strategy maximum SOC percentage
          example: 100
        socMin:
          type: integer
          description: Strategy minimum SOC percentage
          example: 10
        hwSocMax:
          type: integer
          description: Hardware maximum SOC percentage
          example: 90
        hwSocMin:
          type: integer
          description: Hardware minimum SOC percentage
          example: 1
        deviceTypes:
          type: array
          items:
            type: string
          description: List of device types in the system
          example: ["ENERGY_STORAGE_BATTERY", "OPEN_DTU", "YUNENG_MICRO_INVERTER", "SHELLY_3EM_METER"]
        failInverterSns:
          type: array
          items:
            type: string
          description: Serial numbers of failed inverters
          example: []
        nonMaxAllowedPowerInverterSns:
          type: array
          items:
            type: string
          description: Serial numbers of inverters not at max allowed power
          example: []

    StrategyHistoryResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/PaginatedStrategyHistory"

    PaginatedStrategyHistory:
      type: object
      description: Paginated strategy change history (Spring Data Page shape)
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/StrategyHistoryEntry"
          description: Strategy history entries for this page
        pageable:
          $ref: "#/components/schemas/Pageable"
        totalPages:
          type: integer
          example: 1
        totalElements:
          type: integer
          example: 1
        last:
          type: boolean
          example: true
        number:
          type: integer
          example: 0
        sort:
          $ref: "#/components/schemas/Sort"
        numberOfElements:
          type: integer
          example: 1
        first:
          type: boolean
          example: true
        size:
          type: integer
          example: 20
        empty:
          type: boolean
          example: false

    ChargingBoxStrategyResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/ChargingBoxStrategyContent"

    SpaceLocalInfoResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/SpaceLocalInfoContent"

    DtuFirmwareCheckResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/DtuFirmwareCheckContent"

    DtuFirmwareCheckContent:
      type: object
      description: DTU firmware version check result
      properties:
        needUpdate:
          type: boolean
          description: Whether a firmware update is available
          example: false
        latestFirmwareVersion:
          type: string
          description: Latest available firmware version
          example: "Sunlit_1.0.1"
        message:
          type: ["string", "null"]
          description: Optional message about the firmware update
          example: null

    RemoteControlPowerResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              type: "null"
              description: No content returned for successful power limit setting
              example: null

    RemoteControlRecordResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/RemoteControlRecordContent"

    RemoteControlRecordContent:
      type: object
      description: Remote control command status and details
      properties:
        maxOutputPower:
          type: number
          description: The power limit that was set in watts
          example: 800.0
        changeTime:
          type: integer
          description: Timestamp when the change was initiated (milliseconds)
          example: 1757834922637
        status:
          type: string
          description: Current status of the remote control command
          enum: ["InProgress", "Success", "Failed"]
          example: "Success"

    LocalSmartModeUpdateResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              type: array
              description: Empty array returned on successful update
              items: {}
              example: []

    TariffIndexResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/TariffIndexContent"

    TariffIndexContent:
      type: object
      description: Tariff and pricing information for a space
      properties:
        rabotOnboarding:
          type: ["string", "null"]
          description: Rabot Charge onboarding status
          example: null
        rabotCustomerId:
          type: ["string", "null"]
          description: Rabot Charge customer ID
          example: null
        rabotHasContract:
          type: boolean
          description: Whether the customer has a Rabot Charge contract
          example: false
        ev3600NoticeSwitch:
          type: ["boolean", "null"]
          description: EV3600 notice switch setting
          example: null
        veryExpensiveNoticeSwitch:
          type: ["boolean", "null"]
          description: Very expensive price notice switch setting
          example: null
        rabotHourPriceDTO:
          $ref: "#/components/schemas/RabotHourPrice"
        tariffStrategyDTO:
          oneOf:
            - $ref: "#/components/schemas/TariffStrategyDTO"
            - type: "null"
          description: Tariff strategy configuration
        countryCode:
          type: string
          description: ISO country code
          example: "DE"
        chargeBoxStrategyStatusDTO:
          type: ["object", "null"]
          description: Charge box strategy status
          example: null

    RabotHourPrice:
      type: object
      description: Hourly electricity price information from Rabot Charge
      properties:
        utcFullTime:
          type: string
          description: UTC timestamp for the price period
          example: "2025-09-14 07:00:00"
        timestamp:
          type: string
          description: Local timestamp for the price period
          example: "2025-09-14 09:00:00"
        hour:
          type: integer
          description: Hour of the day (0-23)
          example: 9
        priceInCentPerKwh:
          type: number
          description: Current price in cents per kWh
          example: 8.78
        avgPriceInCentPerKwh:
          type: number
          description: Average price in cents per kWh for the day
          example: 7.17
        highestPriceInCentPerKwh:
          type: ["number", "null"]
          description: Highest price in cents per kWh for the day
          example: 15.33
        lowestPriceInCentPerKwh:
          type: ["number", "null"]
          description: Lowest price in cents per kWh for the day
          example: 0.0
        priceTag:
          type: string
          description: Price category tag
          enum: ["VERY_CHEAP", "CHEAP", "NORMAL", "EXPENSIVE", "VERY_EXPENSIVE"]
          example: "EXPENSIVE"
        mode:
          type: ["string", "null"]
          description: Pricing mode
          example: null

    RabotDayPriceResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/RabotDayPriceContent"

    RabotDayPriceContent:
      type: object
      description: Daily electricity price data from Rabot Charge
      properties:
        utcOffset:
          type: string
          description: UTC offset for the timestamps
          example: "UTC+2"
        prices:
          type: array
          description: Array of hourly price data for the day (24 entries)
          items:
            $ref: "#/components/schemas/RabotHourPrice"
        rabotHasContractPrice:
          type: boolean
          description: Whether the customer has Rabot contract pricing
          example: false

    RabotStateResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/RabotStateContent"

    RabotStateContent:
      type: object
      description: Rabot Charge integration state information
      properties:
        rabotOnboarding:
          type: boolean
          description: Whether Rabot Charge onboarding is complete
          example: false
        rabotAuthorized:
          type: boolean
          description: Whether the user is authorized with Rabot Charge
          example: false
        rabotHasContract:
          type: boolean
          description: Whether the user has an active Rabot Charge contract
          example: false
        rabotHasContractPrice:
          type: boolean
          description: Whether contract pricing is available from Rabot Charge
          example: false

    TariffStrategyAddResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              type: "null"
              description: No content returned for successful tariff strategy configuration
              example: null

    TariffStrategyDTO:
      type: object
      description: Active tariff strategy configuration and status
      properties:
        strategy:
          type: string
          description: Current strategy type
          enum: ["SmartStrategy", "EnergyStorageOnly", "Manual"]
          example: "SmartStrategy"
        socMin:
          type: integer
          description: Minimum SOC percentage
          example: 10
        socMax:
          type: integer
          description: Maximum SOC percentage
          example: 100
        defaultExpectInverterOutput:
          type: number
          description: Default expected inverter output power in watts
          example: 0.0
        smartStrategyMode:
          type: string
          description: Smart strategy mode
          enum: ["balanced", "aggressive", "conservative"]
          example: "balanced"
        smartStrategyFullMode:
          type: string
          description: Smart strategy full charge mode
          enum: ["throttle", "full_speed"]
          example: "throttle"
        smartStrategyMaxOutputPower:
          type: ["number", "null"]
          description: Smart strategy maximum output power
          example: null
        batteryStatus:
          type: string
          description: Battery status
          enum: ["Success", "InProgress", "Failed"]
          example: "Success"
        failInverterSns:
          type: array
          items:
            type: string
          description: Serial numbers of failed inverters
          example: []
        strategyStatus:
          type: string
          description: Current strategy execution status
          enum: ["RUNNING", "STOPPED", "PENDING"]
          example: "RUNNING"

    LowPriceStrategy:
      type: object
      description: Strategy configuration for low electricity price periods
      properties:
        defaultExpectInverterOutput:
          type: integer
          description: Expected inverter output power in watts during low price periods
          example: 800
        socMin:
          type: integer
          description: Minimum SOC percentage during low price periods
          example: 1
        strategy:
          type: string
          description: Strategy type for low price periods
          enum: ["EnergyStorageOnly", "SmartStrategy", "Manual"]
          example: "EnergyStorageOnly"
        socMax:
          type: integer
          description: Maximum SOC percentage during low price periods
          example: 100

    HighPriceStrategy:
      type: object
      description: Strategy configuration for high electricity price periods
      properties:
        socMin:
          type: integer
          description: Minimum SOC percentage during high price periods
          example: 10
        socMax:
          type: integer
          description: Maximum SOC percentage during high price periods
          example: 100
        strategy:
          type: string
          description: Strategy type for high price periods
          enum: ["EnergyStorageOnly", "SmartStrategy", "Manual"]
          example: "SmartStrategy"
        smartStrategyFullMode:
          type: string
          description: Smart strategy full charge mode for high price periods
          enum: ["throttle", "full_speed"]
          example: "throttle"
        smartStrategyMode:
          type: string
          description: Smart strategy mode for high price periods
          enum: ["balanced", "aggressive", "conservative"]
          example: "balanced"

    ChargingBoxStrategyContent:
      type: object
      description: Charging box and inverter strategy configuration
      properties:
        ev3600AutoStrategyExist:
          type: boolean
          description: Whether EV3600 bi-directional inverter auto strategy exists
          example: false
        ev3600AutoStrategyRunning:
          type: boolean
          description: Whether EV3600 bi-directional inverter auto strategy is currently running
          example: false
        ev3600AutoStrategyMode:
          type: ["string", "null"]
          description: EV3600 auto strategy mode (null if not configured)
          example: null
        boostOn:
          type: boolean
          description: Whether boost mode is currently active
          example: false
        storageStrategy:
          type: ["string", "null"]
          description: Current storage strategy (null if not set)
          example: null
        normalChargeBoxMode:
          type: ["string", "null"]
          description: Normal charge box operating mode (null if not set)
          example: null
        tariffStrategyExist:
          type: ["boolean", "null"]
          description: Whether a tariff-based charging strategy exists
          example: true
        inverterSn:
          type: array
          description: List of inverter serial numbers
          items:
            type: string
          example: ["E17000035549"]
        enableLocalSmartStrategy:
          type: boolean
          description: Whether local smart strategy is enabled
          example: false
        deyeLocalSnList:
          type: array
          description: List of Deye local serial numbers
          items:
            type: string
          example: []
        acCoupleEnabled:
          type: boolean
          description: Whether AC coupling is enabled for the system
          example: false

    SpaceLocalInfoContent:
      type: object
      description: Local space information including device network configuration
      properties:
        dtu:
          $ref: "#/components/schemas/LocalDtuInfo"
        inverters:
          type: array
          items:
            $ref: "#/components/schemas/LocalInverterInfo"
          description: List of inverters with local configuration
        battery:
          $ref: "#/components/schemas/LocalBatteryInfo"
        eleMeter:
          $ref: "#/components/schemas/LocalMeterInfo"

    LocalDtuInfo:
      type: object
      description: Data Terminal Unit (DTU) local information
      properties:
        id:
          type: integer
          description: DTU device ID
          example: 55410
        deviceSn:
          type: string
          description: DTU serial number
          example: "199980158868"
        deviceType:
          type: string
          description: DTU device type
          example: "OPEN_DTU"
        ip:
          type: string
          description: Local IP address of the DTU
          example: "192.168.178.167"
        hostName:
          type: string
          description: Network hostname of the DTU
          example: "OpenDTU-1C5D34"
        ssid:
          type: string
          description: WiFi SSID the DTU is connected to
          example: "WLAN-2TXFBD"
        createDate:
          type: integer
          description: Creation timestamp in milliseconds
          example: 1742622645000

    LocalInverterInfo:
      type: object
      description: Inverter local configuration information
      properties:
        id:
          type: integer
          description: Inverter device ID
          example: 76493
        deviceSn:
          type: string
          description: Inverter serial number
          example: "E17000035549"
        deviceType:
          type: string
          description: Inverter device type
          example: "YUNENG_MICRO_INVERTER"
        needEasySwitch:
          type: boolean
          description: Whether the inverter supports easy switching functionality
          example: true

    LocalBatteryInfo:
      type: object
      description: Battery system local information
      properties:
        id:
          type: integer
          description: Battery device ID
          example: 41714
        deviceSn:
          type: string
          description: Battery serial number
          example: "dcbdccbffe3d"
        deviceType:
          type: string
          description: Battery device type
          example: "ENERGY_STORAGE_BATTERY"

    LocalMeterInfo:
      type: object
      description: Smart meter local information
      properties:
        id:
          type: integer
          description: Meter device ID
          example: 76559
        deviceSn:
          type: string
          description: Meter serial number
          example: "244CAB41AEF4"
        deviceType:
          type: string
          description: Meter device type
          example: "SHELLY_3EM_METER"

    SpaceIndexResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/SpaceIndexContent"

    SpaceIndexContent:
      type: object
      description: Comprehensive space dashboard data
      properties:
        spaceId:
          type: integer
          description: Space identifier
          example: 34038
        today:
          $ref: "#/components/schemas/TodayMetrics"
        eleMeter:
          $ref: "#/components/schemas/MeterStatus"
        inverter:
          $ref: "#/components/schemas/InverterStatus"
        battery:
          $ref: "#/components/schemas/BatteryStatus"
        chargingBox:
          $ref: "#/components/schemas/ChargingBoxStatus"
        boostSetting:
          $ref: "#/components/schemas/BoostSetting"
        spaceChargePileDTO:
          $ref: "#/components/schemas/EVChargerStatus"

    TodayMetrics:
      type: object
      description: Today's energy and financial metrics
      properties:
        modifyDate:
          type: integer
          description: Last update timestamp
          example: 1757165899419
        yield:
          type: number
          description: Today's energy yield in kWh
          example: 0.21
        earning:
          type: number
          description: Today's earnings
          example: 0.06
        needPrice:
          type: boolean
          description: Whether price data is needed
          example: false
        currency:
          type: string
          description: Currency code
          example: "EUR"
        needHomePower:
          type: boolean
          description: Whether home power data is needed
          example: true
        homePower:
          type: ["number", "null"]
          description: Current home power consumption in watts
          example: null

    MeterStatus:
      type: object
      description: Smart meter status and readings
      properties:
        deviceStatus:
          type: string
          enum: [Online, Offline, NotExist]
          description: Device status
          example: "Offline"
        deviceType:
          type: string
          description: Device type identifier
          example: "SHELLY_3EM_METER"
        totalAcPower:
          type: number
          description: Total AC power in watts
          example: 3050.78
        modifyDate:
          type: integer
          description: Last update timestamp
          example: 1750513319687

    InverterStatus:
      type: object
      description: Inverter status and power output
      properties:
        deviceStatus:
          type: string
          enum: [Online, Offline, NotExist]
          description: Device status
          example: "Offline"
        currentPower:
          type: ["number", "null"]
          description: Current power output in watts
          example: null
        modifyDate:
          type: ["integer", "null"]
          description: Last update timestamp
          example: null
        deviceType:
          type: string
          description: Device type identifier
          example: "YUNENG_MICRO_INVERTER"
        deviceTypes:
          type: array
          items:
            type: string
          description: List of device types
          example: ["YUNENG_MICRO_INVERTER"]

    BatteryStatus:
      type: object
      description: Battery system status and metrics
      properties:
        deviceSn:
          type: string
          description: Device serial number
          example: "dcbdccbffe3d"
        deviceId:
          type: integer
          description: Device identifier
          example: 41714
        deviceStatus:
          type: string
          enum: [Online, Offline, NotExist]
          description: Device status
          example: "Online"
        batteryCount:
          type: integer
          description: Number of battery modules
          example: 3
        fault:
          type: boolean
          description: Fault status
          example: false
        off:
          type: boolean
          description: Off status
          example: false
        bypass:
          type: boolean
          description: Bypass mode active
          example: true
        batteryLevel:
          type: number
          description: Battery SOC percentage
          example: 10.0
        chargingRemaining:
          type: ["number", "null"]
          description: Charging time remaining in minutes
          example: null
        dischargingRemaining:
          type: ["number", "null"]
          description: Discharging time remaining in minutes
          example: null
        inputPower:
          type: number
          description: Input power in watts
          example: 215.0
        outputPower:
          type: number
          description: Output power in watts
          example: 197.0
        firmwareVersion:
          type: string
          description: Firmware version
          example: "V1.5.4"
        supportDayGenVersion:
          type: boolean
          description: Supports day generation version
          example: true
        heaterStatusList:
          type: array
          items:
            type: boolean
          description: Heater status for each battery module
          example: [false, false, false]
        modifyDate:
          type: integer
          description: Last update timestamp
          example: 1757165899155
        deviceModel:
          type: ["string", "null"]
          description: Battery model identifier
          example: "BK_215"

    ChargingBoxStatus:
      type: object
      description: Charging box status
      properties:
        deviceStatus:
          type: string
          enum: [Online, Offline, NotExist]
          description: Device status
          example: "NotExist"
        fault:
          type: boolean
          description: Fault status
          example: false
        acInputPower:
          type: ["number", "null"]
          description: AC input power
          example: null
        invertOutPower:
          type: ["number", "null"]
          description: Inverter output power
          example: null
        acInputPhase:
          type: ["string", "null"]
          description: AC input phase
          example: null
        homeModeParam:
          type: ["object", "null"]
          description: Home mode parameters
          example: null
        carChgModeParam:
          type: ["object", "null"]
          description: Car charging mode parameters
          example: null
        chgModeParam:
          type: ["object", "null"]
          description: Charging mode parameters
          example: null
        modifyDate:
          type: ["integer", "null"]
          description: Last update timestamp
          example: null

    BoostSetting:
      type: object
      description: Battery boost mode settings
      properties:
        switching:
          type: boolean
          description: Currently switching state
          example: false
        isOn:
          type: boolean
          description: Boost mode enabled
          example: false
        batteryResult:
          type: ["object", "null"]
          description: Battery result data
          example: null

    EVChargerStatus:
      type: object
      description: EV charger status (spaceChargePileDTO)
      properties:
        deviceSns:
          type: array
          items:
            type: string
          description: Device serial numbers
          example: []
        deviceType:
          type: string
          description: Device type
          example: "STAR_CHARGE_EVSE"
        deviceStatus:
          type: string
          enum: [Online, Offline, NotExist]
          description: Device status
          example: "NotExist"
        fault:
          type: boolean
          description: Fault status
          example: false
        evseStatus:
          type: ["string", "null"]
          description: EVSE charging status
          example: null

    LoginRequest:
      type: object
      required:
        - account
        - password
      properties:
        account:
          type: string
          description: User email address
          example: "user@example.com"
        password:
          type: string
          description: User password
          format: password
          example: "password123"

    LoginResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              type: object
              properties:
                access_token:
                  type: string
                  description: JWT access token for API authentication
                  example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                token_type:
                  type: string
                  description: Token type
                  example: "bearer"
                refresh_token:
                  type: string
                  description: JWT refresh token for renewing access
                  example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                expires_in:
                  type: integer
                  description: Token expiry time in seconds
                  example: 62143951
                scope:
                  type: string
                  description: Token scope
                  example: "openid"
                jti:
                  type: string
                  description: JWT ID
                  example: "0f9915df-ba45-4dc1-9496-d52317f543f1"
                principal:
                  type: string
                  description: User principal ID
                  example: "aa69632f-4cd6-414d-8711-7c26fe4440c7"
                email:
                  type: string
                  description: User email address
                  example: "user@example.com"
                nickName:
                  type: string
                  description: User nickname
                  example: "username"
                headPicUrl:
                  type: ["string", "null"]
                  description: User profile picture URL
                  example: null

    DeviceDetailsResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/DeviceDetailContent"

    DeviceDetailContent:
      type: object
      description: Detailed device information from GET /device/{deviceId}
      properties:
        deviceId:
          type: integer
          example: 41714
        deviceSn:
          type: string
          example: "dcbdccbffe3d"
        createDate:
          type: integer
          description: Device registration timestamp (milliseconds)
          example: 1727164484000
        firmwareVersion:
          type: ["string", "null"]
          example: "V1.5.8"
        familyItem:
          type: object
          description: The family/space this device belongs to
          properties:
            id:
              type: integer
              example: 34038
            name:
              type: string
              example: "Garage"
        status:
          type: string
          enum: [Online, Offline, NotExist]
          example: "Online"
        manufacturer:
          type: ["string", "null"]
          example: "Highpower"
        deviceType:
          type: string
          example: "ENERGY_STORAGE_BATTERY"
        ssid:
          type: ["string", "null"]
          description: WiFi SSID the device is connected to
          example: "WLAN-2TXFBD"
        stationName:
          type: ["string", "null"]
          example: null
        collectorSn:
          type: ["string", "null"]
          example: null
        maxOutputPower:
          type: ["number", "null"]
          example: null
        maxAllowedPower:
          type: ["number", "null"]
          example: null
        ratedPower:
          type: ["number", "null"]
          example: null
        xmChannel:
          type: ["boolean", "null"]
          description: Whether the Xiaomi/XM control channel is available
          example: true
        subStatus:
          type: ["string", "null"]
          example: null
        collectorFirmwareVersion:
          type: ["string", "null"]
          example: null
        wifiFirmwareVersion:
          type: ["string", "null"]
          example: null
        acFirmwareVersion:
          type: ["string", "null"]
          example: null
        dcFirmwareVersion:
          type: ["string", "null"]
          example: null
        hwVersion:
          type: ["string", "null"]
          example: "V1.5"
        batteryChargingBoxDto:
          type: ["object", "null"]
          example: null
        batteryBoxStatus:
          type: ["string", "null"]
          enum: [Online, Offline, NotExist, null]
          example: "NotExist"
        supportReboot:
          type: ["boolean", "null"]
          description: Whether the device supports remote reboot
          example: true
        systemMultiStatus:
          type: ["string", "null"]
          description: Localized multi-battery topology description
          example: "Drei Batterien parallel"
        enableNotFullNotification:
          type: ["boolean", "null"]
          example: true
        deviceModel:
          type: ["string", "null"]
          example: "BK_215"
        hwSupportOnePercentage:
          type: ["boolean", "null"]
          description: Whether hardware supports 1% SOC granularity
          example: true
        hwSbmsLimitedDiscSocMin:
          type: ["number", "null"]
          description: Hardware SBMS discharge minimum SOC
          example: 1.0
        hwSbmsLimitedChgSocMax:
          type: ["number", "null"]
          description: Hardware SBMS charge maximum SOC
          example: 100.0
        batteryBmsDiscSocMin:
          type: ["integer", "null"]
          description: Battery BMS discharge minimum SOC
          example: 10
        batteryBmsChgSocMax:
          type: ["integer", "null"]
          description: Battery BMS charge maximum SOC
          example: 100
        hasInverter:
          type: ["boolean", "null"]
          example: false
        supportLocalMode:
          type: ["boolean", "null"]
          description: Whether the device supports local (on-device) mode
          example: true
        localModeEnabled:
          type: ["boolean", "null"]
          description: Whether local mode is currently enabled
          example: true
        ip:
          type: ["string", "null"]
          description: Local network IP address of the device
          example: "192.168.1.79"
        port:
          type: ["string", "null"]
          description: Local control port of the device
          example: "8000"
        otaInProgress:
          type: ["boolean", "null"]
          example: false
        hasValidMeter:
          type: ["boolean", "null"]
          example: false
        upsModeEnabled:
          type: ["boolean", "null"]
          example: false
        hasFault:
          type: ["boolean", "null"]
          example: false
        evRunningNotice:
          type: ["boolean", "null"]
          example: false

    Family:
      type: object
      properties:
        id:
          type: integer
          description: Unique family identifier
          example: 34038
        name:
          type: string
          description: Name of the family/space
          example: "Garage"
        address:
          type: string
          description: Location address
          example: "Halver"
        deviceCount:
          type: integer
          description: Number of devices in this family
          example: 4
        countryCode:
          type: string
          description: ISO country code
          example: "DE"
        price:
          type: object
          description: Electricity pricing information
          properties:
            electricPrice:
              type: number
              description: Price per kWh
              example: 0.3
            startTimestamp:
              type: integer
              description: Price validity start timestamp in milliseconds
              example: 1743292800000
            currency:
              type: string
              description: Currency code
              example: "EUR"
        rabotOnboarding:
          type: ["string", "null"]
          description: Rabot energy trading platform onboarding status
          example: null
        rabotCustomerId:
          type: ["string", "null"]
          description: Rabot customer identifier
          example: null
        spaceType:
          type: ["string", "null"]
          description: Space type classification
          example: null
        evStrategyEnabled:
          type: boolean
          description: Whether an EV charging strategy is enabled for this space
          example: false
        tarrifStrategyEnabled:
          type: boolean
          description: >-
            Whether a tariff-based strategy is enabled (note: the API spells
            this field "tarrif").
          example: false
        remindWhileBoostOn:
          type: boolean
          description: Whether to notify the user while boost mode is active
          example: false

    Device:
      type: object
      properties:
        spaceId:
          type: ["integer", "null"]
          description: Space/family identifier
          example: 34038
        stationName:
          type: ["string", "null"]
          description: Station name
          example: null
        deviceCount:
          type: integer
          description: Number of sub-devices (for battery modules)
          example: 3
        deviceId:
          type: integer
          description: Unique device identifier
          example: 67890
        status:
          type: string
          description: Device status
          enum:
            - Online
            - Offline
          example: "Online"
        subStatus:
          type: ["string", "null"]
          description: Sub-status information
          example: null
        modifyDate:
          type: integer
          description: Last modification timestamp in milliseconds
          example: 1757166321349
        today:
          type: ["object", "null"]
          description: Today's statistics (for inverters)
          properties:
            currentPower:
              type: number
              description: Current power output
              example: 645
            totalPowerGeneration:
              type: number
              description: Total power generation in kWh
              example: 1.33186
            totalEarnings:
              type: object
              description: Total earnings
              properties:
                earnings:
                  type: number
                  example: 0.41
                currency:
                  type: string
                  example: "EUR"
        collectorSn:
          type: ["string", "null"]
          description: Collector serial number
          example: null
        deviceSn:
          type: string
          description: Device serial number
          example: "SN123456789"
        fault:
          type: boolean
          description: Whether device has a fault
          example: false
        off:
          type: boolean
          description: Whether device is off
          example: false
        deviceType:
          type: string
          description: Type of device
          enum:
            - SHELLY_3EM_METER
            - SHELLY_PRO3EM_METER
            - YUNENG_MICRO_INVERTER
            - SOLAR_MICRO_INVERTER
            - ENERGY_STORAGE_BATTERY
            - STAR_CHARGE_EVSE
            - EN_PLUS_EVSE
          example: "ENERGY_STORAGE_BATTERY"
        batteryLevel:
          type: ["number", "null"]
          description: Battery level percentage (for battery devices)
          example: 10.0
        chargeRemaining:
          type: ["number", "null"]
          description: Charge time remaining in minutes
          example: null
        dischargeRemaining:
          type: ["number", "null"]
          description: Discharge time remaining in minutes
          example: null
        isChargingStatus:
          type: ["boolean", "null"]
          description: Whether battery is charging
          example: null
        heaterStatusList:
          type: ["array", "null"]
          items:
            type: boolean
          description: Heater status for each battery module
          example: [false, false, false]
        inputPowerTotal:
          type: ["number", "null"]
          description: Total input power in watts
          example: 96.0
        outputPowerTotal:
          type: ["number", "null"]
          description: Total output power in watts
          example: 92.0
        totalAcPower:
          type: ["number", "null"]
          description: Total AC power in watts (for meters)
          example: 3050.78
        dailyBuyEnergy:
          type: ["number", "null"]
          description: Daily energy bought from grid in kWh
          example: 7.21
        dailyRetEnergy:
          type: ["number", "null"]
          description: Daily energy returned to grid in kWh
          example: 0.12
        totalBuyEnergy:
          type: ["number", "null"]
          description: Total energy bought from grid in kWh
          example: 3744.46
        totalRetEnergy:
          type: ["number", "null"]
          description: Total energy returned to grid in kWh
          example: 53.38
        starChargeEvseDto:
          type: ["object", "null"]
          description: EV charger data
          example: null
        batteryChargingBoxDto:
          type: ["object", "null"]
          description: Battery charging box data
          example: null
        # Additional fields from device details endpoint
        firmwareVersion:
          type: ["string", "null"]
          description: Device firmware version
          example: "1.2.3"
        hwVersion:
          type: ["string", "null"]
          description: Device hardware version
          example: "A1"
        systemMultiStatus:
          type: ["string", "null"]
          description: System status
        supportReboot:
          type: ["boolean", "null"]
          description: Whether device supports remote reboot
        ssid:
          type: ["string", "null"]
          description: WiFi SSID if applicable
        manufacturer:
          type: ["string", "null"]
          description: Device manufacturer
        currentPower:
          type: ["number", "null"]
          description: Current power in watts (for inverters)
          example: 3000

    StrategyHistoryEntry:
      type: object
      description: A single strategy change history entry
      properties:
        strategyHistoryId:
          type: integer
          example: 1748547
        modifyDate:
          type: integer
          description: Timestamp of the strategy change (milliseconds)
          example: 1768812894000
        strategy:
          type: string
          description: Strategy type
          example: "EnergyStorageOnly"
        smartStrategyMode:
          type: ["string", "null"]
          example: null
        smartStrategyFullMode:
          type: ["string", "null"]
          example: null
        status:
          type: ["string", "null"]
          example: "Success"
        inverterStatus:
          type: ["string", "null"]
          example: "Success"
        modifiedOutPutPower:
          type: ["number", "null"]
          description: Modified inverter output power in watts
          example: 30.0
        defaultExpectInverterOutput:
          type: ["number", "null"]
          example: 30.0
        batteryStatus:
          type: ["string", "null"]
          example: "Success"
        socMax:
          type: ["integer", "null"]
          description: Maximum SOC setting at time of change
          example: 100
        socMin:
          type: ["integer", "null"]
          description: Minimum SOC setting at time of change
          example: 97
        powerPercentage:
          type: ["integer", "null"]
          example: 1
        smartStrategyMaxOutputPower:
          type: ["number", "null"]
          example: null
        periodStrategyList:
          type: array
          description: Time-period sub-strategies (shape not yet observed)
          items:
            type: object
          example: []
        priceTag:
          type: ["string", "null"]
          example: null
        executeTimeStart:
          type: ["string", "null"]
          description: Execution window start (HH:MM)
          example: "09:00"
        executeTimeEnd:
          type: ["string", "null"]
          description: Execution window end (HH:MM)
          example: "10:00"
        smartStrategyVersion:
          type: ["string", "null"]
          example: null
        gridChargingEnabled:
          type: ["boolean", "null"]
          example: false
        chargingPower:
          type: ["number", "null"]
          example: null
        acCoupleEnabled:
          type: ["boolean", "null"]
          example: null
        isAio:
          type: ["boolean", "null"]
          description: Whether the entry applies to an all-in-one (AIO) device
          example: false

    MpptData:
      type: object
      description: MPPT (Maximum Power Point Tracking) data
      properties:
        batteryMpptInVol:
          type: number
          description: MPPT input voltage
          example: 34.0
        batteryMpptInCur:
          type: number
          description: MPPT input current
          example: 1.9
        batteryMpptInPower:
          type: number
          description: MPPT input power
          example: 64.6
        mpptName:
          type: string
          description: MPPT identifier
          example: "MPPT1"
        deviceModel:
          type: ["string", "null"]
          description: Model of the unit this MPPT belongs to (e.g. BK_215, B_215)
          example: "BK_215"

    BatteryStatistics:
      type: object
      description: Detailed battery statistics (from device statistics endpoint)
      properties:
        deviceId:
          type: integer
          description: Device identifier
          example: 41714
        sn:
          type: string
          description: Device serial number
          example: "dcbdccbffe3d"
        status:
          type: string
          description: Device status
          example: "Online"
        subStatus:
          type: ["string", "null"]
          description: Sub-status information
          example: null
        deviceType:
          type: string
          description: Device type
          example: "ENERGY_STORAGE_BATTERY"
        deviceModel:
          type: ["string", "null"]
          description: Battery model identifier
          example: "BK_215"
        batterySoc:
          type: ["number", "null"]
          description: System battery SOC
          example: 16.0
        battery1Soc:
          type: ["number", "null"]
          description: Battery module 1 SOC
          example: 15.0
        battery2Soc:
          type: ["number", "null"]
          description: Battery module 2 SOC
          example: 14.0
        battery3Soc:
          type: ["number", "null"]
          description: Battery module 3 SOC
          example: null
        battery4Soc:
          type: ["number", "null"]
          description: Battery module 4 SOC
          example: null
        battery5Soc:
          type: ["number", "null"]
          description: Battery module 5 SOC
          example: null
        battery6Soc:
          type: ["number", "null"]
          description: Battery module 6 SOC
          example: null
        battery7Soc:
          type: ["number", "null"]
          description: Battery module 7 SOC
          example: null
        battery1DeviceModel:
          type: ["string", "null"]
          description: Model of battery module 1
          example: "B_215"
[...]
