openapi: 3.1.0
info:
  title: Sunlit Solar API
  description: |
    Unofficial OpenAPI specification for the Sunlit Solar API.
    
    This API is used to retrieve data from Sunlit Solar installations including
    solar panels, inverters, batteries, and smart meters.
    
    **Note:** This is a reverse-engineered specification based on observed API behavior.
    The actual API is proprietary to Sunlit Solar GmbH.
  version: 1.0.0
  contact:
    name: Home Assistant Integration
    url: https://github.com/cedricziel/ha-sunlit

servers:
  - url: https://api.sunlitsolar.de/rest
    description: Production server

security:
  - bearerAuth: []

tags:
  - name: Family
    description: Family/Space management operations
  - name: Device
    description: Device information and statistics
  - name: Space
    description: Space-level operations (SOC, strategies)

paths:
  /family/list:
    get:
      tags:
        - Family
      summary: List all families/spaces
      description: Retrieve a list of all families/spaces associated with the account
      operationId: getFamilyList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1.2/device/list:
    post:
      tags:
        - Device
      summary: List devices in a family
      description: Retrieve all devices belonging to a specific family
      operationId: getDeviceList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - familyId
                - deviceType
              properties:
                familyId:
                  type: integer
                  description: The family ID
                  example: 12345
                deviceType:
                  type: string
                  description: Device type filter (use "" for all types)
                  example: ""
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1.1/statistics/static/device:
    post:
      tags:
        - Device
      summary: Get device statistics
      description: Retrieve detailed statistics for a specific device
      operationId: getDeviceStatistics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceId
              properties:
                deviceId:
                  type: integer
                  description: The device ID
                  example: 67890
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceStatisticsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1.3/statistics/instantPower/batteryIO:
    post:
      tags:
        - Device
      summary: Get battery I/O power statistics
      description: Retrieve input/output power statistics for a battery device
      operationId: getBatteryIOPower
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceId
                - year
                - month
                - day
              properties:
                deviceId:
                  type: integer
                  description: The battery device ID
                  example: 67890
                year:
                  type: string
                  description: Year (YYYY format)
                  example: "2024"
                month:
                  type: string
                  description: Month (MM format)
                  example: "01"
                day:
                  type: string
                  description: Day (DD format)
                  example: "15"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatteryIOPowerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1.1/space/soc:
    post:
      tags:
        - Space
      summary: Get space State of Charge
      description: Retrieve State of Charge information for a space
      operationId: getSpaceSOC
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 12345
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceSOCResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1.1/space/currentStrategy:
    post:
      tags:
        - Space
      summary: Get current charging strategy
      description: Retrieve the current battery charging strategy for a space
      operationId: getCurrentStrategy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - familyId
              properties:
                familyId:
                  type: integer
                  description: The family ID
                  example: 12345
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentStrategyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1.5/space/index:
    post:
      tags:
        - Space
      summary: Get comprehensive space dashboard data
      description: Retrieve all space data in a single call including devices, power, and status
      operationId: getSpaceIndex
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId:
                  type: integer
                  description: The space/family ID
                  example: 12345
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1.1/space/strategyHistory:
    post:
      tags:
        - Space
      summary: Get strategy change history
      description: Retrieve the history of battery charging strategy changes
      operationId: getStrategyHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - familyId
              properties:
                familyId:
                  type: integer
                  description: The family ID
                  example: 12345
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyHistoryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /device/{deviceId}:
    get:
      tags:
        - Device
      summary: Get device details
      description: Retrieve detailed information about a specific device (currently unused in integration)
      operationId: getDeviceDetails
      parameters:
        - name: deviceId
          in: path
          required: true
          description: The device ID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDetailsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Device not found

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication

  responses:
    Unauthorized:
      description: Unauthorized - Invalid or missing authentication token
      content:
        application/json:
          schema:
            type: object
            properties:
              result:
                type: integer
                example: 0
              error:
                type: string
                example: "Unauthorized"

  schemas:
    ApiResponse:
      type: object
      description: Common API response wrapper
      properties:
        code:
          type: integer
          description: Response code (0 = success)
          example: 0
        responseTime:
          type: integer
          description: Server response timestamp in milliseconds
          example: 1757165913195
        message:
          type: object
          description: Localized messages
          additionalProperties:
            type: string
          example:
            DE: "Ok"

    FamilyListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/Family'

    DeviceListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            content:
              $ref: '#/components/schemas/PaginatedDeviceList'
    
    PaginatedDeviceList:
      type: object
      description: Paginated device list with metadata
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Device'
          description: List of devices
        pageable:
          $ref: '#/components/schemas/Pageable'
        totalPages:
          type: integer
          description: Total number of pages
          example: 1
        totalElements:
          type: integer
          description: Total number of devices
          example: 3
        last:
          type: boolean
          description: Whether this is the last page
          example: true
        number:
          type: integer
          description: Current page number
          example: 0
        sort:
          $ref: '#/components/schemas/Sort'
        numberOfElements:
          type: integer
          description: Number of elements in current page
          example: 3
        first:
          type: boolean
          description: Whether this is the first page
          example: true
        size:
          type: integer
          description: Page size
          example: 20
        empty:
          type: boolean
          description: Whether the result is empty
          example: false
    
    Pageable:
      type: object
      description: Pagination information
      properties:
        sort:
          $ref: '#/components/schemas/Sort'
        pageSize:
          type: integer
          description: Size of the page
          example: 20
        pageNumber:
          type: integer
          description: Current page number
          example: 0
        offset:
          type: integer
          description: Offset from start
          example: 0
        unpaged:
          type: boolean
          description: Whether pagination is disabled
          example: false
        paged:
          type: boolean
          description: Whether pagination is enabled
          example: true
    
    Sort:
      type: object
      description: Sort information
      properties:
        unsorted:
          type: boolean
          description: Whether results are unsorted
          example: false
        sorted:
          type: boolean
          description: Whether results are sorted
          example: true
        empty:
          type: boolean
          description: Whether sort is empty
          example: false

    DeviceStatisticsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            content:
              $ref: '#/components/schemas/BatteryStatistics'

    BatteryIOPowerResponse:
      type: object
      description: Battery I/O power response (different format - no ApiResponse wrapper)
      properties:
        result:
          type: integer
          description: Result code (1 = success)
          example: 1
        inputPower:
          type: array
          items:
            type: number
          description: Array of input power values (288 values for 5-minute intervals over 24 hours)
        outputPower:
          type: array
          items:
            type: number
          description: Array of output power values (288 values for 5-minute intervals over 24 hours)

    SpaceSOCResponse:
      type: object
      description: Space SOC response (different format - no ApiResponse wrapper)
      properties:
        result:
          type: integer
          description: Result code (1 = success)
          example: 1
        batterySoc:
          type: number
          description: Current battery SOC percentage
          example: 85.5
        hwSocMin:
          type: number
          description: Hardware minimum SOC limit
          example: 10
        hwSocMax:
          type: number
          description: Hardware maximum SOC limit
          example: 95

    CurrentStrategyResponse:
      type: object
      description: Current strategy response (different format - no ApiResponse wrapper)
      properties:
        result:
          type: integer
          description: Result code (1 = success)
          example: 1
        strategy:
          type: string
          description: Current strategy name
          example: "Time of Use"
        smartStrategyMode:
          type: string
          description: Smart strategy mode
          example: "AUTO"
        socMin:
          type: number
          description: Strategy minimum SOC
          example: 20
        socMax:
          type: number
          description: Strategy maximum SOC
          example: 90

    StrategyHistoryResponse:
      type: object
      description: Strategy history response (different format - no ApiResponse wrapper)
      properties:
        result:
          type: integer
          description: Result code (1 = success)
          example: 1
        history:
          type: array
          items:
            $ref: '#/components/schemas/StrategyHistoryEntry'

    SpaceIndexResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            content:
              $ref: '#/components/schemas/SpaceIndexContent'

    SpaceIndexContent:
      type: object
      description: Comprehensive space dashboard data
      properties:
        spaceId:
          type: integer
          description: Space identifier
          example: 34038
        today:
          $ref: '#/components/schemas/TodayMetrics'
        eleMeter:
          $ref: '#/components/schemas/MeterStatus'
        inverter:
          $ref: '#/components/schemas/InverterStatus'
        battery:
          $ref: '#/components/schemas/BatteryStatus'
        chargingBox:
          $ref: '#/components/schemas/ChargingBoxStatus'
        boostSetting:
          $ref: '#/components/schemas/BoostSetting'
        spaceChargePileDTO:
          $ref: '#/components/schemas/EVChargerStatus'

    TodayMetrics:
      type: object
      description: Today's energy and financial metrics
      properties:
        modifyDate:
          type: integer
          description: Last update timestamp
          example: 1757165899419
        yield:
          type: number
          description: Today's energy yield in kWh
          example: 0.21
        earning:
          type: number
          description: Today's earnings
          example: 0.06
        needPrice:
          type: boolean
          description: Whether price data is needed
          example: false
        currency:
          type: string
          description: Currency code
          example: "EUR"
        needHomePower:
          type: boolean
          description: Whether home power data is needed
          example: true
        homePower:
          type: ['number', 'null']
          description: Current home power consumption in watts
          example: null

    MeterStatus:
      type: object
      description: Smart meter status and readings
      properties:
        deviceStatus:
          type: string
          enum: [Online, Offline, NotExist]
          description: Device status
          example: "Offline"
        deviceType:
          type: string
          description: Device type identifier
          example: "SHELLY_3EM_METER"
        totalAcPower:
          type: number
          description: Total AC power in watts
          example: 3050.78
        modifyDate:
          type: integer
          description: Last update timestamp
          example: 1750513319687

    InverterStatus:
      type: object
      description: Inverter status and power output
      properties:
        deviceStatus:
          type: string
          enum: [Online, Offline, NotExist]
          description: Device status
          example: "Offline"
        currentPower:
          type: ['number', 'null']
          description: Current power output in watts
          example: null
        modifyDate:
          type: ['integer', 'null']
          description: Last update timestamp
          example: null
        deviceType:
          type: string
          description: Device type identifier
          example: "YUNENG_MICRO_INVERTER"
        deviceTypes:
          type: array
          items:
            type: string
          description: List of device types
          example: ["YUNENG_MICRO_INVERTER"]

    BatteryStatus:
      type: object
      description: Battery system status and metrics
      properties:
        deviceSn:
          type: string
          description: Device serial number
          example: "dcbdccbffe3d"
        deviceId:
          type: integer
          description: Device identifier
          example: 41714
        deviceStatus:
          type: string
          enum: [Online, Offline, NotExist]
          description: Device status
          example: "Online"
        batteryCount:
          type: integer
          description: Number of battery modules
          example: 3
        fault:
          type: boolean
          description: Fault status
          example: false
        off:
          type: boolean
          description: Off status
          example: false
        bypass:
          type: boolean
          description: Bypass mode active
          example: true
        batteryLevel:
          type: number
          description: Battery SOC percentage
          example: 10.0
        chargingRemaining:
          type: ['number', 'null']
          description: Charging time remaining in minutes
          example: null
        dischargingRemaining:
          type: ['number', 'null']
          description: Discharging time remaining in minutes
          example: null
        inputPower:
          type: number
          description: Input power in watts
          example: 215.0
        outputPower:
          type: number
          description: Output power in watts
          example: 197.0
        firmwareVersion:
          type: string
          description: Firmware version
          example: "V1.5.4"
        supportDayGenVersion:
          type: boolean
          description: Supports day generation version
          example: true
        heaterStatusList:
          type: array
          items:
            type: boolean
          description: Heater status for each battery module
          example: [false, false, false]
        modifyDate:
          type: integer
          description: Last update timestamp
          example: 1757165899155

    ChargingBoxStatus:
      type: object
      description: Charging box status
      properties:
        deviceStatus:
          type: string
          enum: [Online, Offline, NotExist]
          description: Device status
          example: "NotExist"
        fault:
          type: boolean
          description: Fault status
          example: false
        acInputPower:
          type: ['number', 'null']
          description: AC input power
          example: null
        invertOutPower:
          type: ['number', 'null']
          description: Inverter output power
          example: null
        acInputPhase:
          type: ['string', 'null']
          description: AC input phase
          example: null
        homeModeParam:
          type: ['object', 'null']
          description: Home mode parameters
          example: null
        carChgModeParam:
          type: ['object', 'null']
          description: Car charging mode parameters
          example: null
        chgModeParam:
          type: ['object', 'null']
          description: Charging mode parameters
          example: null
        modifyDate:
          type: ['integer', 'null']
          description: Last update timestamp
          example: null

    BoostSetting:
      type: object
      description: Battery boost mode settings
      properties:
        switching:
          type: boolean
          description: Currently switching state
          example: false
        isOn:
          type: boolean
          description: Boost mode enabled
          example: false
        batteryResult:
          type: ['object', 'null']
          description: Battery result data
          example: null

    EVChargerStatus:
      type: object
      description: EV charger status
      properties:
        deviceSns:
          type: array
          items:
            type: string
          description: Device serial numbers
          example: []
        deviceType:
          type: string
          description: Device type
          example: "STAR_CHARGE_EVSE"
        deviceStatus:
          type: string
          enum: [Online, Offline, NotExist]
          description: Device status
          example: "NotExist"
        fault:
          type: boolean
          description: Fault status
          example: false
        evseStatus:
          type: ['string', 'null']
          description: EVSE status
          example: null

    DeviceDetailsResponse:
      type: object
      description: Device details response (different format - no ApiResponse wrapper)
      properties:
        result:
          type: integer
          description: Result code (1 = success)
          example: 1
        device:
          $ref: '#/components/schemas/Device'

    Family:
      type: object
      properties:
        id:
          type: integer
          description: Unique family identifier
          example: 34038
        name:
          type: string
          description: Name of the family/space
          example: "Garage"
        address:
          type: string
          description: Location address
          example: "Halver"
        deviceCount:
          type: integer
          description: Number of devices in this family
          example: 4
        countryCode:
          type: string
          description: ISO country code
          example: "DE"
        price:
          type: object
          description: Electricity pricing information
          properties:
            electricPrice:
              type: number
              description: Price per kWh
              example: 0.3
            startTimestamp:
              type: integer
              description: Price validity start timestamp in milliseconds
              example: 1743292800000
            currency:
              type: string
              description: Currency code
              example: "EUR"
        rabotOnboarding:
          type: ['string', 'null']
          description: Rabot energy trading platform onboarding status
          example: null
        rabotCustomerId:
          type: ['string', 'null']
          description: Rabot customer identifier
          example: null

    Device:
      type: object
      properties:
        spaceId:
          type: ['integer', 'null']
          description: Space/family identifier
          example: 34038
        stationName:
          type: ['string', 'null']
          description: Station name
          example: null
        deviceCount:
          type: integer
          description: Number of sub-devices (for battery modules)
          example: 3
        deviceId:
          type: integer
          description: Unique device identifier
          example: 67890
        status:
          type: string
          description: Device status
          enum:
            - Online
            - Offline
          example: "Online"
        subStatus:
          type: ['string', 'null']
          description: Sub-status information
          example: null
        modifyDate:
          type: integer
          description: Last modification timestamp in milliseconds
          example: 1757166321349
        today:
          type: ['object', 'null']
          description: Today's statistics (for inverters)
          properties:
            currentPower:
              type: number
              description: Current power output
              example: 645
            totalPowerGeneration:
              type: number
              description: Total power generation in kWh
              example: 1.33186
            totalEarnings:
              type: object
              description: Total earnings
              properties:
                earnings:
                  type: number
                  example: 0.41
                currency:
                  type: string
                  example: "EUR"
        collectorSn:
          type: ['string', 'null']
          description: Collector serial number
          example: null
        deviceSn:
          type: string
          description: Device serial number
          example: "SN123456789"
        fault:
          type: boolean
          description: Whether device has a fault
          example: false
        off:
          type: boolean
          description: Whether device is off
          example: false
        deviceType:
          type: string
          description: Type of device
          enum:
            - SHELLY_3EM_METER
            - YUNENG_MICRO_INVERTER
            - ENERGY_STORAGE_BATTERY
          example: "ENERGY_STORAGE_BATTERY"
        batteryLevel:
          type: ['number', 'null']
          description: Battery level percentage (for battery devices)
          example: 10.0
        chargeRemaining:
          type: ['number', 'null']
          description: Charge time remaining in minutes
          example: null
        dischargeRemaining:
          type: ['number', 'null']
          description: Discharge time remaining in minutes
          example: null
        isChargingStatus:
          type: ['boolean', 'null']
          description: Whether battery is charging
          example: null
        heaterStatusList:
          type: ['array', 'null']
          items:
            type: boolean
          description: Heater status for each battery module
          example: [false, false, false]
        inputPowerTotal:
          type: ['number', 'null']
          description: Total input power in watts
          example: 96.0
        outputPowerTotal:
          type: ['number', 'null']
          description: Total output power in watts
          example: 92.0
        totalAcPower:
          type: ['number', 'null']
          description: Total AC power in watts (for meters)
          example: 3050.78
        dailyBuyEnergy:
          type: ['number', 'null']
          description: Daily energy bought from grid in kWh
          example: 7.21
        dailyRetEnergy:
          type: ['number', 'null']
          description: Daily energy returned to grid in kWh
          example: 0.12
        totalBuyEnergy:
          type: ['number', 'null']
          description: Total energy bought from grid in kWh
          example: 3744.46
        totalRetEnergy:
          type: ['number', 'null']
          description: Total energy returned to grid in kWh
          example: 53.38
        starChargeEvseDto:
          type: ['object', 'null']
          description: EV charger data
          example: null
        batteryChargingBoxDto:
          type: ['object', 'null']
          description: Battery charging box data
          example: null
        # Additional fields from device details endpoint
        firmwareVersion:
          type: ['string', 'null']
          description: Device firmware version
          example: "1.2.3"
        hwVersion:
          type: ['string', 'null']
          description: Device hardware version
          example: "A1"
        systemMultiStatus:
          type: ['string', 'null']
          description: System status
        supportReboot:
          type: ['boolean', 'null']
          description: Whether device supports remote reboot
        ssid:
          type: ['string', 'null']
          description: WiFi SSID if applicable
        manufacturer:
          type: ['string', 'null']
          description: Device manufacturer
        currentPower:
          type: ['number', 'null']
          description: Current power in watts (for inverters)
          example: 3000

    StrategyHistoryEntry:
      type: object
      properties:
        modifyDate:
          type: integer
          description: Modification timestamp (milliseconds)
          example: 1609459200000
        strategy:
          type: string
          description: Strategy name
          example: "Time of Use"
        status:
          type: string
          description: Strategy status
          example: "SUCCESS"
        smartStrategyMode:
          type: string
          description: Smart strategy mode
          example: "AUTO"
        socMin:
          type: number
          description: Minimum SOC setting
          example: 20
        socMax:
          type: number
          description: Maximum SOC setting
          example: 90

    MpptData:
      type: object
      description: MPPT (Maximum Power Point Tracking) data
      properties:
        batteryMpptInVol:
          type: number
          description: MPPT input voltage
          example: 34.0
        batteryMpptInCur:
          type: number
          description: MPPT input current
          example: 1.9
        batteryMpptInPower:
          type: number
          description: MPPT input power
          example: 64.6
        mpptName:
          type: string
          description: MPPT identifier
          example: "MPPT1"

    BatteryStatistics:
      type: object
      description: Detailed battery statistics (from device statistics endpoint)
      properties:
        deviceId:
          type: integer
          description: Device identifier
          example: 41714
        sn:
          type: string
          description: Device serial number
          example: "dcbdccbffe3d"
        status:
          type: string
          description: Device status
          example: "Online"
        subStatus:
          type: ['string', 'null']
          description: Sub-status information
          example: null
        deviceType:
          type: string
          description: Device type
          example: "ENERGY_STORAGE_BATTERY"
        batterySoc:
          type: ['number', 'null']
          description: System battery SOC
          example: 16.0
        battery1Soc:
          type: ['number', 'null']
          description: Battery module 1 SOC
          example: 15.0
        battery2Soc:
          type: ['number', 'null']
          description: Battery module 2 SOC
          example: 14.0
        battery3Soc:
          type: ['number', 'null']
          description: Battery module 3 SOC
          example: null
        chargeRemaining:
          type: ['number', 'null']
          description: Charge time remaining in hours
          example: 24.73
        dischargeRemaining:
          type: ['number', 'null']
          description: Discharge time remaining in hours
          example: null
        fault:
          type: boolean
          description: Fault status
          example: false
        inputPowerTotal:
          type: ['number', 'null']
          description: Total input power
          example: null
        outputPowerTotal:
          type: ['number', 'null']
          description: Total output power
          example: null
        off:
          type: boolean
          description: Device off status
          example: false
        currentPower:
          type: ['number', 'null']
          description: Current power
          example: null
        totalYield:
          type: ['number', 'null']
          description: Total yield
          example: null
        heaterStatusList:
          type: ['array', 'null']
          items:
            type: boolean
          description: Heater status for each module
          example: [false, false, false]
        totalAcPower:
          type: ['number', 'null']
          description: Total AC power
          example: null
        dailyBuyEnergy:
          type: ['number', 'null']
          description: Daily energy bought
          example: null
        dailyRetEnergy:
          type: ['number', 'null']
          description: Daily energy returned
          example: null
        totalBuyEnergy:
          type: ['number', 'null']
          description: Total energy bought
          example: null
        totalRetEnergy:
          type: ['number', 'null']
          description: Total energy returned
          example: null
        batteryMppt1Data:
          oneOf:
            - $ref: '#/components/schemas/MpptData'
            - type: 'null'
          description: Main unit MPPT1 data
        batteryMppt2Data:
          oneOf:
            - $ref: '#/components/schemas/MpptData'
            - type: 'null'
          description: Main unit MPPT2 data
        battery1MpptData:
          oneOf:
            - $ref: '#/components/schemas/MpptData'
            - type: 'null'
          description: Battery module 1 MPPT data
        battery2MpptData:
          oneOf:
            - $ref: '#/components/schemas/MpptData'
            - type: 'null'
          description: Battery module 2 MPPT data
        battery3MpptData:
          oneOf:
            - $ref: '#/components/schemas/MpptData'
            - type: 'null'
          description: Battery module 3 MPPT data
        mpptCollectTime:
          type: ['integer', 'null']
          description: MPPT data collection timestamp
          example: 1757236235455
        batteryMppt1InVol:
          type: ['number', 'null']
          description: Main unit MPPT1 voltage
          example: 34
        batteryMppt1InCur:
          type: ['number', 'null']
          description: Main unit MPPT1 current
          example: 1.9
        batteryMppt1InPower:
          type: ['number', 'null']
          description: Main unit MPPT1 power
          example: 64.6
        batteryMppt2InVol:
          type: ['number', 'null']
          description: Main unit MPPT2 voltage
          example: null
        batteryMppt2InCur:
          type: ['number', 'null']
          description: Main unit MPPT2 current
          example: null
        batteryMppt2InPower:
          type: ['number', 'null']
          description: Main unit MPPT2 power
          example: null
        battery1Mppt1InVol:
          type: ['number', 'null']
          description: Battery 1 MPPT voltage
          example: 32
        battery1Mppt1InCur:
          type: ['number', 'null']
          description: Battery 1 MPPT current
          example: 1.2
        battery1Mppt1InPower:
          type: ['number', 'null']
          description: Battery 1 MPPT power
          example: 38.4
        battery2Mppt1InVol:
          type: ['number', 'null']
          description: Battery 2 MPPT voltage
          example: 32
        battery2Mppt1InCur:
          type: ['number', 'null']
          description: Battery 2 MPPT current
          example: 4.0
        battery2Mppt1InPower:
          type: ['number', 'null']
          description: Battery 2 MPPT power
          example: 128.0
        battery3Mppt1InVol:
          type: ['number', 'null']
          description: Battery 3 MPPT voltage
          example: null
        battery3Mppt1InCur:
          type: ['number', 'null']
          description: Battery 3 MPPT current
          example: null
        battery3Mppt1InPower:
          type: ['number', 'null']
          description: Battery 3 MPPT power
          example: null
        mpptCollectionTime:
          type: ['integer', 'null']
          description: MPPT collection timestamp (duplicate of mpptCollectTime)
          example: 1757236235455
        batteryLevel:
          type: ['number', 'null']
          description: Battery level percentage
          example: 15.0